/* style.sass */

@import "shared/colors"

$colorScheme: $scheme15

@import "base/normalize"
@import "base/h5bp"
@import "base/prettify"

@import "elements/text"
@import "elements/lists"
@import "elements/links"
@import "elements/images"
@import "elements/tables"



// General
*, *:before, *:after
	box-sizing: border-box
	position: relative

body
	color: nth($colorScheme, 1)
	background-color: #fff

header.main
	border-top: 1px solid #fff
	background: #fff
	padding: 1em 5%

article header
	padding-top: 5em