/* style.sass */


@import "base/normalize"
@import "base/h5bp"
@import "base/basics"
@import "typogrify"


// Colors
$yellow1: #a59463
$yellow2: #a69564
$yellow3: #d2cab1


// Fonts
$slab-font-family: "museo-slab", Helvetica, sans-serif
$sans-font-family: "museo-sans", Helvetica, sans-serif


// General
*, *:before, *:after
	box-sizing: border-box
	position: relative

html
	font-family: $sans-font-family
	background-color: #000

body
	height: 100%


html, body, .portfolio
	max-height: 100%
	overflow: visible

img
	max-width: 100%
	max-height: 100%



// Header
header.main
	height: 34px
	background-color: mix($yellow3, #fff)
	h1
		margin: 0
		font-size: 1em
		position: absolute
		top: 5px
		left: 10px
	nav
		position: absolute
		top: 5px
		right: 100px
		a
			display: inline-block
			margin-left: 10px



// Portfolio

.portfolio
	background-color: #000
	&, .project
		overflow: visible
	nav
		position: absolute
		top: 16px
		right: 5%
		z-index: 10
		width: 100px
		height: 40px
		margin-right: -9px
		z-index: 200
		a.ir
			transition: all 0.2s ease
			display: block
			height: 40px
			width: 40px
			background: url('../img/arrow.svg')
			position: absolute
			opacity: 0.75
			&.next
				right: 0px
				background-position: -40px 0
			&.prev
				left: 0px
			&:hover
				opacity: 1


.title
	height: 67px
	position: absolute
	width: 100%
	top: 0
	left: -3%
	border-bottom: 1px solid rgba(#fff, 0.2)
	opacity: 0
	transition: all 0.3s ease
	.current &
		opacity: 1
		left: 0
		z-index: 100
	h2
		margin: 0 5%
		height: 67px
		padding-top: 15px
		font-family: $slab-font-family
		font-weight: 500
		font-size: 1.6875em
		color: $yellow1
		a
			color: $yellow1
			transition: all 0.2s ease
			&:hover
				color: mix($yellow1, $yellow3)
				text-decoration: none



// Slides
.slide
	top: 68px
	max-width: 90%
	margin: 0 auto
	transition: all 0.4s ease
	opacity: 0
	&.visible
		z-index: 100
		opacity: 1
	.wrapper
		position: absolute
		top: 0
		left: 0
		width: 100%
		min-height: 40px
	.sizable
		transition: all 0.3s ease
		box-sizing: content-box		
		margin: 0 auto
		min-height: 40px
	.image
		z-index: 9
	.info
		z-index: 8
	.infoinner
		color: mix( $yellow3, $yellow1 )
		font-weight: 100
		width: 235px
		position: absolute
		top: 40px
		left: 0
		padding-right: 10px
		opacity: 0
		transition: all 0.3s ease
		text-align: right
		font-size: 14px
		h3
			color: $yellow2
			font-weight: 700
			text-transform: uppercase
			font-size: 0.75em
			margin: 1.25em 0 0.25em
			letter-spacing: 1px
		ul
			list-style: none
			margin: 0
			li
				margin: 0
	.show-info &
		max-width: 100%
		&.intro
			max-width: 90%
		.infoinner
			opacity: 1
		.image, .button
			padding-left: 250px
		.info
			padding-right: 250px


// Info button
a.infobutton
	display: block
	z-index: 20
	position: absolute
	top: 10px
	left: 0
	margin-left: -45px
	background: url('../img/arrow.svg') -80px 0
	width: 40px
	height: 40px
	transition: all 0.3s ease
	opacity: 0.75
	&:hover
		opacity: 1
	.show-info &
		left: 240px
		-webkit-transform: rotate(-45deg)
		-moz-transform: rotate(-45deg)
		-o-transform: rotate(-45deg)
		transform: rotate(-45deg)



// Project intro page
.intro
	background-color: #000
	font-size: 0.8em
	@media (min-width: 450px)
		font-size: 0.85em
	@media (min-width: 600px)
		font-size: 0.9em
	@media (min-width: 750px)
		font-size: 0.95em
	@media (min-width: 800px)
		font-size: 1em
	@media (min-width: 1200px)
		font-size: 1.1em
	.introimage
		width: 40%
		opacity: 0.6
		margin: 0 auto
		padding-right: 15%
	.introtext 
		font-family: $slab-font-family
		margin: 0 auto
		max-width: 35em
		margin: 0 auto
		h3
			font-size: 0.95em
			font-weight: 100
			color: mix( $yellow1, #000 )
			font-weight: 700
			letter-spacing: 2px
			margin: 2em 0 1.5em
			font-family: $sans-font-family
			text-transform: uppercase
		p
			font-weight: 100
			font-size: 1.5em
			line-height: 1.5
			color: $yellow1
			.dropcap
				font-family: "coquette", $slab-font-family
				font-size: 3.05em
				float: left
				margin: 0.14em 0.08em 0 0
				line-height: 0.8
				font-weight: 100
				opacity: 0.9
			.leader
				text-transform: uppercase
				font-size: 0.8em
				letter-spacing: 1px
				font-weight: 300
				font-family: "ff-ernestine-web-pro", $slab-font-family
				margin-left: -0.1em
				.caps
					font-size: 1em


// Table of contents
#intro .slide
	ul
		clear: both
	li
		margin: 5px 4px
		margin-top: -2em
		transition: all 0.4s ease
		display: block
		float: left
		border: 1px solid mix($yellow1, #000)
		a
			display: block
			height: 2em
			transition: all 0.4s ease
			width: 180px
			overflow: hidden
			img
				width: 400px
				height: 300px
				max-width: 400px
				max-height: 300px
	&.visible
		li
			margin-top: 0
			a
				height: 100px




