doctype html
html.no-js(lang="en")
	head

		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title Nate Walton
		meta(name='description', content='Description about your department.')
		meta(name='author', content='Your Department Name')
		meta(name='keywords', content='keyword 1, keyword 2, keyword 3')
		meta(name='viewport', content='width=device-width, , initial-scale=1')

		// Place favicon.ico and apple-touch-icon.png in the root directory
		link(rel='shortcut icon', href='favicon.ico')

		// Styles
		link(rel='stylesheet', href='css/style.css')

		// Scripts loaded via script loader. See notes in init.js file.
		script(type="text/javascript", src="//use.typekit.net/nyn3skg.js")
		script(type="text/javascript").
			try{Typekit.load();}catch(e){}
		script(src='js/script.min.js')

	body
		header.main
			h1 Nate Walton
			nav
				a(href="/") Home
				a(href="/") Portfolio

		div.main.portfolio
			nav
				a.ir.next(href="#") Next slide
				a.ir.prev(href="#") Previous slide
			#intro.project(data-project="0")
				.title
					h2 Work
				#intro-1.slide.intro.last
					.wrapper
						.sizable
							p Intro screen
			#jonah.project(data-project="1").current
				.title
					h2 
						a(href="#jonah") Jonah
				#jonah-1.intro.slide.visible
					.wrapper
						.image.sizable
							img(src="img/jonahintro.png")
					.wrapper
						.introtext.sizable
							p I usually prefer relief printing to other traditional artforms. 
				#jonah-2.slide
					.wrapper
						.button.sizable
							a.ir.infobutton(href="#") Show info
					.wrapper
						.image.sizable
							img(src="img/jonah1.jpg")
					.wrapper
						.info.sizable
							.infoinner
								h3 Process
								ul
									li Linoleum cut &amp; letterpress
									li Printed on a Vandercook SP-15
									li Bound in hard case
								h3 Media
								ul
									li 8pt Univers
									li Somerset book
								h3 Specs
								ul
									li 8" x 12” x 1/2"
									li 24 pages
									li 2005
				#jonah-3.slide.last
					.wrapper
						.button.sizable
							a.ir.infobutton(href="#") Show info
					.wrapper
						.image.sizable
							img(src="img/jonah2.jpg")
					.wrapper
						.info.sizable
							.infoinner
								h3 Process
								ul
									li Linoleum cut &amp; letterpress
									li Printed on a Vandercook SP-15
									li Bound in hard case
								h3 Media
								ul
									li 8pt Univers
									li Somerset book
								h3 Specs
								ul
									li 8" x 12” x 1/2"
									li 24 pages
									li 2005


		footer.main