extends _layout

block content
	div.main.portfolio.students.show-info
		nav
			a.ir.next(href="#") Next slide
			a.ir.prev(href="#") Previous slide
		#intro.project(data-project="0")
			.title
				h2 Student Work
