/* Lists */
//ul, ol { margin-left: 1.5em }
ol { list-style-type:decimal; margin-left:2em;
  ol { list-style-type: lower-alpha;
    ol { list-style-type: lower-roman;
      ol { list-style-type: decimal;
        ol { list-style-type: lower-alpha;
          ol { list-style-type: lower-roman; } } } } } }
ul { list-style-type:disc; margin-left:2em;
  ul { list-style-type: circle;
    ul { list-style-type: disc;
      ul { list-style-type: circle;
        ul { list-style-type: disc;
          ul { list-style-type: circle; } } } } } }
ul ul { margin-top:.25em; margin-bottom:.25em;}
nav ul, nav ul ul { list-style:none}
nav ul, nav li { margin:0;}
dt { font-weight: bold }
dd { padding: 0 0 .75em 1em }
dl, menu, ol, ul { padding:0; }